.main-container {
    display: flex;
}

.searchPanel{
    display: flex;
    flex-direction: column;
    background: #6a6666;
    color: #08060d;
    overflow-y: auto;
    height: 100vh;
    width: 70%
;
}

.cartPanel{
    display: flex;
    flex-direction: column;
    background: #a19797;
    color: #08060d;
    height: 100vh;
    width: 30%
}

.cartitems{
    overflow-y: auto;
}

.itemBox{
    display: flex;
    background: #6b6375;
}
.totalBox{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}